.container {
    min-height: 60vh;
    width: 800px;
    margin: 30px auto;
    display: flex;
    padding: 10px;
    background-color: #FAFAFA;
    box-shadow: 1px 2px 5px #000000;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.container img {
    width: 350px;
}

.container .productContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.container .productContent h3 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
}

.container .productContent p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.container .productContent span {
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #11D100;
}

@media (max-width: 425px) {
    .container {
        width: 90%;
        flex-direction: column;
    }

    .container img {
        width: 250px;
        height: 250px;
        margin-left: 30px;
    }

    .container .productContent {
        margin-top: 15px;
    }

    .container .productContent h3 {
        font-size: 25px;
    }

    .container .productContent p {
        margin-top: 15px;
    }

    .container .productContent span {
        margin-top: 15px;
        text-align: right;
        margin-right: 5px;
    }
    
}

