/* Estilos compartilhados entre mais de um componente */

.backRed {
    background-color: #610F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px 0;
}

.redes {
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

.redes img {
    width: 50px;
    height: 50px;
}
.copy {
    color: white;
    margin-top: 1%;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.copy a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.copy a:hover {
    text-decoration: underline;
}

.goBack {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
}

.goBack a {
    color: #000000;
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: none;
}

.productGrid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 75px;
}

.productGrid .productCard {
    padding: 10px;
    min-width: 275px;
    max-width: 300px;
    background-color: #FAFAFA;
    box-shadow: 1px 2px 5px #000000;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productGrid .productCard img {
    width: 150px;
}

.productGrid .productCard .productCardInfo {
    margin-top: 10px;
    padding: 10px;
}

.productGrid .productCard .productCardInfo h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 5px 0;
}

.productGrid .productCard .productCardInfo span {
    font-size: 18px;
    margin-top: 10px;
    color: #11D100;
}

.productGrid .productCard .productCardInfo p {
    margin-top: 10px;
    font-style: italic;
    font-size: 15px;
}

.buy {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #60A3BC;
    height: 45px;
    border-radius: 3px; width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #60A3BC;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;

    transition: background 0.3s linear;
}

.buy * {
    margin-right: 5px;
}

.buy:hover {
    background-color: #0260E8;
}

.cartContainer {
    position: absolute;
    top: 45px;
    right: 35px;
    cursor: pointer;
}

.cartContainer span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 25px;
    background-color: #60A3BC;
    position: absolute;
    left: 25px;
    top: -10px;
    text-align: center;
    border-radius: 25px;
}
.MyCar{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.tableTable{
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tableTitle{
    background-color: #808080;
    height: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.tableImg{
    height: 100px;
}
.tablePrice{
    color: #11D100;
    font-size: 1.3em;
    font-weight: 600;
}
.tableName{
    font-size: 1em;
    font-weight: 700;
}
.tableInput{
    width: 25%;
}
.tableInput input{
    text-align: center;
    font-size: 1.3em;
    width: 20%;
    height: 2em;
}
.buttonBuy2{
    height: 2000px !important;
    width: 10px;
}
@media (max-width: 425px) {
    .redes {
       flex-direction: column;
    }

    .redes img {
        margin-top: 20px;
    }

    .productGrid {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
    }

    .cartContainer {
        top: 10px;
        right: 50px;
    }
    
    .cartContainer span {
        color: #fff;
        font-weight: bold;
        width: 25px;
        background-color: #60A3BC;
        position: absolute;
        left: 25px;
        top: -10px;
        text-align: center;
        border-radius: 25px;
    }
}