/* Estilos compartilhados entre mais de um componente */

.backRed {
    background-color: #610F0F;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}
.redes{
    color: #000000;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.redes img{
    width: 50px;
    height: 50px;
}
.copy{
    color: white;
    margin-top: 1%;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.copy a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.copy a:hover {
    text-decoration: underline;
}

.goBack {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
}

.goBack a {
    color: #000000;
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: none;
}

.productGrid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 75px;
}

.productGrid .productCard {
    padding: 10px;
    min-width: 275px;
    max-width: 300px;
    background-color: #FAFAFA;
    box-shadow: 1px 2px 5px #000000;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productGrid .productCard img {
    width: 150px;
}

.productGrid .productCard .productCardInfo {
    margin-top: 10px;
    padding: 10px;
}

.productGrid .productCard .productCardInfo h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 5px 0;
}

.productGrid .productCard .productCardInfo span {
    font-size: 18px;
    margin-top: 10px;
    color: #11D100;
}

.productGrid .productCard .productCardInfo p {
    margin-top: 10px;
    font-style: italic;
}

.buy {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #60A3BC;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;

    transition: background 0.3s linear;
}

.buy * {
    margin-right: 5px;
}

.buy:hover {
    background-color: #0260E8;
}